body {
    font-family: 'Reenie Beanie', cursive;
    color: white;
    font-size: 25px;
    margin: 30px;
    padding: 0;
    background-color: black; 
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}